<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja virtual</title>
</head>
<body>
    <h1>Loja virtual</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{numberFormat price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>